@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@500&family=Press+Start+2P&display=swap');

/* Structural settings */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Overpass Mono', monospace;
    color: #1E1E1E;
    background-color: #ffffff;
}

/* Top bar and logo */

.top-bar {
    font-family: 'Press Start 2P', cursive;
    font-size: 90%;
    text-align: center;
    background-color: #ffffff;
    padding: 25px;
    border-bottom: 5px solid #1E1E1E;
    box-shadow: 0 0 5px #1E1E1E;
}

.top-bar a {
    text-decoration: none;
    color: #1E1E1E;
}

.top-text {
    font-size: 3vw;
    letter-spacing: 18px;
    text-transform: uppercase;
    text-align: center;
    margin: 40px 0 30px;
}

/* Start Interface */

.start-area {
    background-color: #ffffff;
    height: 560px;
    max-width: 1000px;
    margin: 0 auto;
    border: 3px double #1E1E1E;
    box-shadow: 0 0 5px #1E1E1E;
}

.section-header {
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 68px;
}

/* "JavaScript" Heading Hover Effect */
#colored-js:hover {
    color: #F9DD3C;
}

.section-text {
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-align: center;
    padding: 0 60px 0;
}

.section-text p {
    padding-top: 50px;
}

.buttons-alignment {
    text-align: center;
}

/* Code from: https://www.w3.org/WAI/tutorials/forms/labels/ */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

input {
    font-family: 'Overpass Mono', monospace;
    color: #ffffff;
    font-size: 1.2rem;
    text-align: center;
    background-color: #1E1E1E;
    width: 20vw;
    height: 3.2vh;
    min-width: 180px;
    border-radius: 50px;
    margin-top: 50px;
    padding-top: 5px;
}

input[type=text]:focus {
    outline: 3px solid #F9DD3C;
}

input:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
    outline: 3px solid #F9DD3C;
}

.submit-btn {
    padding-top: 20px;
}

.submit-btn button {
    font-family: 'Overpass Mono', monospace;
    text-transform: lowercase;
    font-size: 1rem;
    width: 110px;
    height: 50px;
    background-color: #ffffff;
    color: #1E1E1E;
    border-radius: 30px;
    border: 2px solid #1E1E1E;
    box-shadow: 0 0 2px #1E1E1E;
}

/* Error Message */
#error-message {
    display: none;
    color: red;
    font-weight: bold;
    margin-top: 20px;
  }  

/* Submit Button Hover Effect */
.submit-btn button:hover {
    background-color: #F9DD3C;
}

/* Rules Interface */

.rules-area {
    background-color: #ffffff;
    height: 560px;
    max-width: 1000px;
    margin: 0 auto;
    border: 3px double #1E1E1E;
    box-shadow: 0 0 5px #1E1E1E;
}

#alignment-header-rules h2 {
    margin: 50px 0;
}

/* Questions Interface */

.questions-area {
    background-color: #ffffff;
    height: 560px;
    max-width: 1000px;
    margin: 0 auto;
    border: 3px double #1E1E1E;
    box-shadow: 0 0 5px #1E1E1E;
}

.buttons-container {
    display: flex;
    margin-top: 15px;
}

.buttons-container button {
    font-family: 'Overpass Mono', monospace;
    font-size: 1.2rem;
    background-color: #ffffff;
    color: #1E1E1E;
    border-radius: 25px;
    width: 52%;
    height: 80px;
    margin: 20px 5px 0 20px;
    border: 2px solid #1E1E1E;
    box-shadow: 0 0 2px #1E1E1E;
}

.section-question {
    font-size: 1.5rem;
    letter-spacing: 2px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.section-counter {
    width: 70px;
    height: 70px;
    border-radius: 15px;
    background-color: #1E1E1E;
    color: #ffffff;
    position: absolute;
    text-align: center;
    margin: 10px;
}

.section-counter h3:first-child {
    margin-top: 14px;
}

/* Question Button Hover Effect */
.buttons-container button:hover {
    background-color: #F9DD3C;
}

.questions-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.questions-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.next-btn {
    text-align: center;
    padding-top: 33px;
}

.next-btn button {
    font-family: 'Overpass Mono', monospace;
    text-transform: lowercase;
    font-size: 1rem;
    width: 110px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 30px;
    border: 2px solid #1E1E1E;
    box-shadow: 0 0 2px #1E1E1E;
}

/* Next Button Hover Effect */
.next-btn button:hover {
    background-color: #F9DD3C;
}

/* Score Interface */

.score-area {
    background-color: #ffffff;
    height: 560px;
    max-width: 1000px;
    margin: 0 auto;
    border: 3px double #1E1E1E;
    box-shadow: 0 0 5px #1E1E1E;
}

#score-text {
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    margin: 100px 4px 0;
}

.score-main-text {
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-align: center;
}

.score-main-text p {
    padding-top: 50px;
    
}

.start-again-btn button {
    font-family: 'Overpass Mono', monospace;
    text-transform: lowercase;
    font-size: 1rem;
    width: 110px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 30px;
    border: 2px solid #1E1E1E;
    box-shadow: 0 0 2px #1E1E1E;
}

/* Start Again Hover Effect */
.start-again-btn button:hover {
    background-color: #F9DD3C;
}

/* JavaScript Classes */

.hide {
    display: none;
}

.correct {
    background-color: #9ee461 !important;
}

.incorrect {
    background-color: #F9573C !important;
}

/* 404 Error Page */

.error-area {
    background-color: #ffffff;
    font-size: small;
    height: 560px;
    max-width: 1000px;
    margin: 0 auto;
    border: 3px double #1E1E1E;
    box-shadow: 0 0 5px #1E1E1E;
    text-align: center;
    overflow: hidden;
}

#subcontainer {
    text-align: center;
}

#subcontainer h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 8rem;
    position: relative;
    bottom: 380px;
    left: 10px;
    margin: 4px;
}

#subcontainer h3 {
    position: relative;
    bottom: 380px;
    background-color: #1E1E1E;
    color: #ffffff;
    margin: auto;
    padding-top: 3px;
    width: 300px;
    height: 20px;
}

#subcontainer a {
    font-family: 'Overpass Mono', monospace;
    text-transform: lowercase;
    text-decoration: none;
    color: #1E1E1E;
    font-size: 1.4rem;
    width: 210px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 5px 15px;
    border: 2px solid #1E1E1E;
    box-shadow: 0 0 2px #1E1E1E;
    position: relative;
    bottom: 360px;
}

#subcontainer a:hover {
    background-color: #F9DD3C;
}

/* Footer */

.footer {
    text-align: right;
    background-color: #1E1E1E;
    border-top: 5px solid #ffffff;
    box-shadow: 0 0 5px #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer ul li {
    display: inline;
    font-size: 200%;
}

.footer ul li i {
    color: #ffffff;
    padding: 20px 5px;
    position: relative;
    right: 40px;
}

/* Links Hover Effect */
.footer ul li i:hover {
    text-shadow: 0 0 3px #ffffff;;
}

/* Media queries */

/* 1280px wide and down */

@media screen and (max-width: 1280px) {
    .score-area, .questions-area, .rules-area, .start-area, .error-area {
        margin: 0 auto 100px;
    }
}

/* 1035px wide and down */

@media screen and (max-width: 1035px) {
    .score-area, .questions-area, .rules-area, .start-area, .error-area {
        margin: 0 10px 100px;
    }
}

/* 776px wide and down */

@media screen and (max-width: 776px) {
    .section-header {
        font-size: 1rem;
        margin: 5px;
    }

    .section-text {
        font-size: 1.2rem;
        margin: 5px;
        padding: 0;
    }

    #subcontainer h2 {
        font-size: 15vw;
    }

    #subcontainer a {
        font-size: 3vw;
    }

    #score-text {
        margin: 50px 4px 0;
    }
}

/* 557px wide and down */

@media screen and (max-width: 557px) {
    .buttons-container button {
        font-size: 2vw;
    }

    .section-counter {
        position: relative;
        margin: 0 auto;
    }

    .section-counter h3:first-child {
        margin-top: 20px;
        padding-top: 14px;
    }

    .section-question {
        padding-top: 40px;
    }

    .section-text p {
        padding-top: 40px;
    }

    #question {
        font-size: 1rem;
    }

    input {
        margin-top: 30px;
    }

    .submit-btn {
        padding-top: 0;
        margin-top: 10px;
    }

    #subcontainer h3 {
        width: 50vw;
        height: 20px;
        font-size: 10px;
    }

    #score-text {
        font-size: 2rem;
        margin: 50px 4px 0;
    }

    .score-main-text {
        font-size: 1.1rem;
        margin: 0 2px;
    }
}

/* 365px wide and down */

@media screen and (max-width: 365px) {
    .section-text p {
        padding-top: 0;
    }

    #score-text {
        font-size: 2rem;
        margin: 20px 4px 0;
    }

    .score-main-text p {
        padding-top: 20px;
    }
}

/* Disable hover effect on touch-screen devices */

/* Code from: http://www.javascriptkit.com/dhtmltutors/sticky-hover-issue-solutions.shtml */
@media (hover:none) {
    .buttons-container button:hover { 
        background: none;
    }
}