@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@500&family=Press+Start+2P&display=swap');

/* Structural settings */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    color: #000000;
    font-family: 'Overpass Mono', monospace;
}

/* Home page */

/* Top bar and logo */

.top-bar {
    font-family: 'Press Start 2P', cursive;
    font-size: 90%;
    text-align: center;
    padding: 25px;
    margin: auto;
    border-bottom: 5px solid #000000;
}

.main-text {
    font-size: 250%;
    text-align: center;
    letter-spacing: 18px;
    text-transform: uppercase;
    padding: 25px;
}