@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@500&family=Press+Start+2P&display=swap');

/* Structural settings */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    color: #1E1E1E;
    background-color: #F8F8F8;
    font-family: 'Overpass Mono', monospace;
}

/* Home page */

/* Top bar and logo */

.top-bar {
    font-family: 'Press Start 2P', cursive;
    font-size: 90%;
    text-align: center;
    background-color: #ffffff;
    padding: 25px;
    margin: auto;
    border-bottom: 5px solid #1E1E1E;
    box-shadow: 0 0 5px #1E1E1E;
}

.top-text {
    font-size: 3vw;
    text-align: center;
    letter-spacing: 18px;
    text-transform: uppercase;
    padding: 25px;
}

/* Footer */

.footer {
    text-align: right;
    background-color: #1E1E1E;
    border-top: 5px solid #ffffff;
    box-shadow: 0 0 5px #1E1E1E;
}

.footer ul li {
    display: inline;
    font-size: 200%;
}

.footer ul li i {
    color: #ffffff;
    padding: 20px 5px;
    position: relative;
    right: 40px;
}

/* Links Hover Effect */

.footer ul li i:hover {
    text-shadow: 0 0 3px #ffffff;;
}